*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
font-family: "Solway", serif;}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;

}
.logo{
    width: 250px;
}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}
.links{
    text-decoration: none;
    font-weight: 800;
    color: black;

}
.links:hover{
    text-decoration: underline;
    color: brown;
}
.home-content{
    margin: 13% 0px 0px 8%;

}
#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Lobster Two", sans-serif;
}
#lname{
    color: rgb(239, 145, 78);
        font-family: "Lobster Two", sans-serif;

}
#user-details{
    line-height: 1.2;

}
#download{
    text-decoration: none;
    /* margin-top: 50px; */
    /* inline element n margin top kodttal  work avilla.so      display: inline-block; kodttitt
margin-top: kodkkuka*/
    display: inline-block;
    margin-top: 30px;
    border: solid;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;

}
.home-img{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 40%;
    /* initially left um bottom value set cheyyanm to apply psuedo class.but left direction change cheyyandirikkn atine nuulify ceyyan    transform: translateX(-40%) kodukkuka
 */
    transform: translateX(-40%);
    /* hover cheyyumbol smooth aavan */
    transition: bottom 2s, left 1s;
}
/* psuedo class */
.home-img:hover #shape{
    bottom:70px ;

}
.home-img:hover #girl{
    left: 30%;

}
#about{
    margin: 15% 8% 0px 8%;
}
.section-head{
    text-align: center;
}
.main-head{
    font-size: 35px;
            font-family: "Lobster Two", sans-serif;

}
.sub-head{
  font-size: 20px;
  color: green;  
}
.about-body{
    margin-top: 5%;
    display: grid;
    /* same space */
    grid-template-columns: 1fr 1fr;
    /* or same as above */
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    align-items: center;
}
.about-img>img{
    width: 70%;
}
.about-content{
    font-size: 20px;
    text-align: justify;
}
.informations{
    margin-top: 1.3rem;
}
.info-box{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.info-box>span{
    margin-left: 1rem;
}
#skill{
    margin: 8% 8% 0PX 8%;
    background-color: rgb(242, 182, 139);

}
.skill-head{
    text-align: center;
}
.skill-main-head{
    font-size: 35px;
    font-family: "Lobster Two", sans-serif;

}
.skill-sub-head{
    font-size: 20px;
    color: green;
}
.skill-contents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 20px;
    align-items: center;
}
.progress-bar{
    padding: 20px;
    margin: opx 20px;
    text-align: justify;
}
.mySkill{
    width: 100%;
    align-items: center;
    
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.bar-head,.bar-percentage{
    font-weight: 500px;
    font-size: 1.2rem;
}
.base-bar{
    height: 0.5rem;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.html-bar{
    background-color: orange;
    width: 89%;
}
.css-bar{
    background-color: orange;
    width: 82%;
}
.js-bar{
    background-color: orange;
    width: 79%;
}
.react-bar{
    background-color: orange;
    width: 90%;
}
#contact{
    margin: 8%;
}
.icon-collections{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}
.icon{
    /* circle nte ullil icons varaan width and height same kodkkuka */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid 1px; */
    /* circle nte center il icons varaan */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    /* psuedo class nte initial value set aayi.ini click cheyyumbol color maran final values kodkkanm */
}
.brands{
    font-size:30px ;
    color: black;

}
.icon:hover{   
    background-image: linear-gradient(to bottom right,white,yellow,red,violet);
    animation: rotate 3s;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
footer{
    margin-top: 8%;
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.up-arrow{
    float: right;
    margin: -40px 30px 30px 0px;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: bisque;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(244, 199, 114);
}